<style>
.button {
    display: inline-block; /* Делает элемент блочным, но сохраняет его в одной строке */
    text-decoration: none; /* Убирает подчеркивание текста */
    background-color: #eaeaea; /* Задает цвет фона кнопки */
    color: #006089; /* Задает цвет текста */
    border: 3px solid #006089; /* Задает цвет и толщину границы */
    border-radius: 5px; /* Задает скругленные углы */
    font-size: 16px; /* Задает размер шрифта */
    padding: 15px 50px; /* Задает внутренние отступы */
    transition: all 0.8s ease; /* Добавляет плавный переход для всех изменений */
}

.button:hover {
    text-decoration: none; /* Убирает подчеркивание текста при наведении */
    background-color: #006089; /* Изменяет цвет фона при наведении */
    color: #ffeded; /* Изменяет цвет текста при наведении */
    border-color: #006089; /* Сохраняет цвет границы при наведении */
}
</style>
