body {
    font-family: 'Roboto', sans-serif;
}

.button {
    display: block; /* Делаем элемент блочным, чтобы он занимал всю ширину */
    width: 100%; /* Занимает всю ширину родительского элемента */
    text-decoration: none; /* Убираем подчеркивание текста */
    background-color: #FFCD05; /* Цвет фона кнопки */
    color: #000000; /* Цвет текста */
    border-radius: 96px; /* Скругленные углы */
    font-size: 16px; /* Размер шрифта */
    padding: 16px 0; /* Внутренние отступы сверху и снизу */
    text-align: center; /* Выравниваем текст по центру */
    transition: all 0.8s ease; /* Плавный переход для всех изменений */
    box-sizing: border-box; /* Учитываем отступы в ширине элемента */
    position: relative; /* Позиционируем элемент для добавления иконки */
}

.button:hover {
    text-decoration: none; /* Убираем подчеркивание текста при наведении */
    background-color: #FF8AE0; /* Изменяем цвет фона при наведении */
    color: #000000; /* Изменяем цвет текста при наведении */
}
